/********** COLORES PRIMARIOS ************/


  $cardo:#87F2EA;
  $oragencd:#FEB238;
  $blanco:#fff;
  $azulcielo2:#E7F0FD;
  $azulprimary:#3582De;
  $primary:#3582De;
  $azulcielo:#1476FC;
  $azulcielo3:#1476FC26;
  $blue:    #005d8f;
  $succes: #00a65a;
  $orange:#F7941D;
  $naranja:  #fdb44b;
  $danger:#BF1E2E;
  $danger1:     #f53d3d;
  $dark:       #222;
  $gary-lte:  #d2d6de;
  $aqua: #87F2EA;
  $aqua2:#10E0D0;
  $yellow: #f39c12;
  $blue: #0073b7;
  $navy: #001F3F;
  $teal: #39CCCC;
  $olive: #3D9970;
  $lime: #01FF70;
  $secondary: #F7941D;
  $fuchsia: #F012BE;
  $purple: #605ca8;
  $maroon: #D81B60;
  $blackk: #000;
  $dark-2: #222d32;
  $light-gray: #444;
  $alight-gray:#d3d3d3d3;
  $red-danger:#F8E1E5;
  $red-t-danger:#F2143F;
