<footer class="container-fluid footer mt-4">
    <div class="row footer-row">
      <div class="col-3 footer-row-item">
      <div class="row">
        <div class="col-12">
          <address class="text-justify">
            Puede contactar al autor en <a href="http://www.somedomain.com/contact">www.somedomain.com</a>.<br>
            Si ve algún error, por favor <a href="mailto:lira053@gmail.com">contactarnos</a>.<br>
            Quizás también quieras visitarnos:<br>
            1981 Landings Drive<br>
            Building K<br>
            Mountain View, CA 94043-0801<br>
            USA
          </address>
        </div>
        <div class="col-12 mt-5">
          <ul class="footer-row-item-list">
            <li class="footer-row-item-list-item"><a class="footer-row-item-list-item-link" href=""><img  class="footer-row-item-list-item-link-img" src="macropaypage/assets/icon/whatsapp-brands.svg" alt=""></a></li>
            <li class="footer-row-item-list-item"><a  class="footer-row-item-list-item-link" href=""><img class="footer-row-item-list-item-link-img" src="macropaypage/assets/icon/linkedin-brands.svg" alt=""></a></li>
            <li class="footer-row-item-list-item"><a class="footer-row-item-list-item-link" href=""><img  class="footer-row-item-list-item-link-img" src="macropaypage/assets/icon/instagram-brands.svg" alt=""></a></li>
            <li class="footer-row-item-list-item"><a  class="footer-row-item-list-item-link"href=""><img class="footer-row-item-list-item-link-img" src="macropaypage/assets/icon/facebook-brands.svg" alt=""></a></li>
          </ul>
        </div>
      </div>


      </div>
      <div class="col-9 footer-row-item footer-row-item__map-content">
        <div class="footer-row-item-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3149.2178286263415!2d-98.08111899142874!3d20.17271710198423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d08a5ce81cc035%3A0xb5d40a9e2f929efe!2sMisc%20Josy!5e0!3m2!1ses-419!2smx!4v1660930463354!5m2!1ses-419!2smx" width="500" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
      </div>
      <div class="col-12 footer-row-item text-white text-center mt-5">
        © Copyright 20021-2022 Protect My Work Limited. All Rights Reserved.
      </div>
    </div>
</footer>
